.elementor-10060 .elementor-element.elementor-element-edc1376{padding:1.4em 0.5em 0em 0.55em;}.elementor-10060 .elementor-element.elementor-element-7477482 > .elementor-element-populated{text-align:center;}#elementor-popup-modal-10060{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-10060 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-10060 .dialog-close-button{display:flex;}#elementor-popup-modal-10060 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}/* Start custom CSS for column, class: .elementor-element-7477482 */.elementor-10060 .elementor-element.elementor-element-7477482 {
    font-size: 1.58rem;
}

.elementor-10060 .elementor-element.elementor-element-7477482 h5{
    font-size: 2rem;
    text-transform: none;
    font-weight: 400;
}/* End custom CSS */