/* Start custom CSS for text-editor, class: .elementor-element-2b276eb5 */p{
    font-size: 18px;
    opacity: 0.8 
}

h2{
    font-family: 'Keep-Calm-Medium';
    font-weight: 300;
    font-size: 25px;
    color: #2DA6A6
}
h3{
    font-size: 22px;
    font-weight: 600;
    color: #F2C029;
}/* End custom CSS */
/* Start custom CSS */h1 {
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Keep-Calm-Medium';
    color: #3E768C;
}/* End custom CSS */